<a class="post-list__link" href="{{ .RelPermalink }}">
  <p class="post-list__meta">
    {{ with .Params.type }}<span class="post-list__type">{{ humanize . }}</span>{{ end }}
    <time class="post-list__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
  </p>
  <h3 class="post-list__title">{{ .Title }}</h3>
  {{ with .Description }}<p class="post-list__excerpt">{{ . }}</p>{{ end }}
</a>
{{ $seriesTerms := .GetTerms "series" }}
{{ if $seriesTerms }}
  {{ range $seriesTerms }}
  <p class="post-list__series">
    <a class="post-list__series-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  </p>
  {{ end }}
{{ else if .Params.series }}
  <p class="post-list__series">
    <a class="post-list__series-link" href="{{ printf "/series/%s/" .Params.series | relURL }}">{{ replace .Params.series "-" " " | title }}</a>
  </p>
{{ end }}
